@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Reggae+One&family=Rubik+Glitch&family=Sansita+Swashed&display=swap');



button {
 margin: 50px;
 font-family: inherit;
}
/* End of Page styling */
/* Slide button styling */
.slide {
 font-size: 20px;
 font-weight: 200;
 letter-spacing: 1px;
 padding: 13px 30px 13px;
 outline: 0;
 border: 1px solid black;
 cursor: pointer;
 position: relative;
 background-color: rgba(0, 0, 0, 0);
}

.slide i {
 opacity: 0;
 font-size: 13px;
 transition: 0.2s;
 position: absolute;
 right: 10px;
 top: 21px;
 transition: transform 1;
}

.slide div {
 transition: transform 0.8s;
}

.slide:hover div {
 transform: translateX(-6px);
}

.slide::after {
 content: "";
 background-color: #66f2d5;
 width: 100%;
 z-index: -1;
 position: absolute;
 height: 100%;
 top: 7px;
 left: 7px;
}

.slide:hover i {
 opacity: 1;
 transform: translateX(-6px);
}
/* End of Slide Button  */
