.image {
 display: block;
  margin: auto;
 }

 h1 {
  font-family: 'Aclonica', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  color: indianred;
 }

 h3, h5 {
  font-family: 'Aclonica', sans-serif;
  padding-left: 20px;
  color: indianred;
 }