<div><h1>{{"welcome" | translate}}</h1></div>
<div><h3>{{"choose-gategory" | translate}}</h3></div>
<div><h5>{{"note" | translate}}</h5></div>


<img class="image" src="assets/car.jpg" usemap="#image-map">

<map name="image-map">
    <area target="_parent" alt="Engine" title="Engine" href="/engine" coords="102,82,233,141" shape="rect">
    <area target="_parent" alt="Battery" title="Battery" href="/battery" coords="5,237,152,286" shape="rect">
    <area target="_parent" alt="Transmission" title="Transmission" href="/transmission" coords="13,704,214,765" shape="rect">
    <area target="_parent" alt="Axle" title="Axle" href="/axle" coords="242,767,343,812" shape="rect">
</map>